<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nuc.studentactivityshcedule">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentActivityShcedule">
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ValidasiBimbinganTaActivity"
            android:exported="false" />
        <activity
            android:name=".ValidasiBimbinganKpActivity"
            android:exported="false" />
        <activity
            android:name=".BimbinganMahasiswaActivity"
            android:exported="false" />
        <activity
            android:name=".BimbinganAdminActivity"
            android:exported="false" />
        <activity
            android:name=".JadwalAdminActivity"
            android:exported="false" />
        <activity
            android:name=".JadwalMahasiswaActivity"
            android:exported="false" />
        <activity
            android:name=".KalenderAdminActivity"
            android:exported="false" />
        <activity
            android:name=".KalenderMahasiswaActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>